.fitz {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: var(--fitz-position-horizontal, center);
    align-items: var(--fitz-position-vertical, center);
}

.fitz-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background: var(--fitz-backdrop-background, black);
    opacity: var(--fitz-backdrop-opacity, 0.5);
    z-index: -1;
}

.fitz-content {
    width: var(--fitz-width, auto);
    height: var(--fitz-height, auto);
    min-width: var(--fitz-min-width, auto);
    min-height: var(--fitz-min-height, auto);
    max-height: var(--fitz-max-height, 90%);
    max-width: var(--fitz-max-width, 86%);
    margin: var(--fitz-margin, 0);
    padding: var(--fitz-padding, 1rem 1rem);
    background-clip: padding-box;
    background: var(--fitz-background, white);
    border-radius: var(--fitz-border-radius, 5px);
    box-shadow: var(--fitz-box-shadow, rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px);
    overflow-x: hidden;
    overflow-y: auto;
}

.fitz-content:focus {
    outline: none;
}

.fitz-hide {
    float: right;
    color: var(--fitz-hide-color, #666666);
    padding: 0;
    margin: var(--fitz-hide-margin, -1rem -0.5rem 0 0);
    font-size: var(--fitz-hide-size, 2.5rem);
    font-weight: bold;
    line-height: var(--fitz-hide-size, 2.5rem);
    border: none;
    background: none;
}

.fitz-hide:hover {
    cursor: pointer;
    color: var(--fitz-hide-hover-color, #ff6633);
}

@media (min-width: 991.98px) {
    .fitz-content {
        max-width: var(--fitz-md-max-width, 50%);
    }
}

@media (min-width: 1199.98px) {
    .fitz-content {
        max-width: var(--fitz-lg-max-width, 30%);
    }
}
